@import "tailwindcss";

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.scroll-display::-webkit-scrollbar {
  display: none;
}

a.active {
  background: #ff8035;
  color: white;
}
