@tailwind base;
@tailwind components;
@tailwind utilities;


.show-scroll::-webkit-scrollbar {
  display: none;
}

.react-multiple-carousel__arrow {
  opacity: 0 !important;
}

.scroll-hover:hover .react-multiple-carousel__arrow {
  opacity: 1 !important;
}

.doted-text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-y: hidden;

}